.topic-thumbnails-list .topic-list-thumbnail {
  width: 45px;
  height: 45px;
}

.topic-thumbnails-list {
  .topic-list-body .topic-list-item {
    .right {
      display: grid;
      grid-template-columns: 15% auto 15%;
      grid-template-areas: "thumbnail title replies" "thumbnail data data";
      gap: 0 0.5em;

      .num {
        text-align: right;
      }

      .topic-list-thumbnail {
        grid-area: thumbnail;
      }

      .main-link {
        grid-area: title;
        width: unset;
      }

      .topic-item-stats {
        grid-area: data;
      }

      .pull-right {
        grid-area: replies;
      }
    }
  }
}

.topic-thumbnails-minimal {
  .topic-list-body {
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    .topic-list-item {
      height: 150px;
      grid-template-areas: "image image image" "title title title";

      .topic-thumbnail-likes {
        display: none;
      }

      .main-link {
        padding: 0 !important;

        .link-top-line {
          color: var(--primary);
        }

        .title {
          font-size: $font-down-3;
        }
      }

      .posts-map {
        display: none;
      }
    }
  }
}

.topic-thumbnails-blog-style-grid {
  .topic-list-data {
    max-width: unset;
  }
}

.topic-thumbnails-compact {
  .topic-list-data {
    max-width: unset;
  }

  .topic-list-item {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "topic"
      "replies"
      "activity";
    padding: 0.5em 0.75em;
  }

  .main-link {
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "author thumbnail"
      "title thumbnail"
      "details thumbnail";
  }

  .topic-list-thumbnail {
    float: right;
    margin-left: 10px;
    margin-right: 0;
    width: 102px;
    height: 76px;
  }

  .num.posts,
  .activity {
    justify-self: flex-start;
    text-align: left;
  }

  .activity {
    display: none;
  }
}

.topic-thumbnails-card-style {
  .topic-card {
    padding: 1em;
  }

  .topic-card__header {
    align-items: center;
  }

  .topic-card__activity {
    font-size: var(--font-down-2-rem);

    .relative-date {
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }

  .topic-card__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .topic-card__thumbnail img {
    max-width: 100%;
  }

  .topic-list-data {
    max-width: unset;
  }
}


.topic-author {
  font-size: var(--font-down-2-rem);

  .topic-author__activity,
  .topic-card__activity,
  .topic-compact-author__activity {
    .relative-date {
      font-size: inherit !important;
      line-height: inherit !important;
    
    font-size: inherit;
    line-height: inherit;
  }
  }

  .topic-author__relative-date .relative-date {
    font-size: inherit !important;
    line-height: inherit !important;
  }

  .topic-author__category {
    font-size: inherit;
    line-height: inherit;
    align-content: baseline;
    display: none;

    .badge-category__wrapper,
    .badge-category,
    .badge-category__name {
      font-size: inherit !important;
      line-height: inherit;
    }
  }

  .topic-author__user .user-detail {
    font-size: inherit;
    line-height: inherit;
  }
}

.topic-thumbnails-card-style,
.topic-thumbnails-compact-style {
  .topic-card__author,
  .topic-compact-author,
  .topic-card__author *,
  .topic-compact-author * {
    font-size: var(--font-down-1-rem) !important;
    line-height: var(--line-height-medium) !important;
  }

  .topic-card__activity,
  .topic-compact-author__activity {
    font-size: var(--font-down-1-rem) !important;
    line-height: var(--line-height-medium);
  }

  .topic-card__activity,
  .topic-compact-author__activity {
    .relative-date {
      font-size: inherit !important;
      line-height: inherit !important;
    }
  }

  .topic-author__category {
    display: none;
  }
}
