.topic-list-thumbnail {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 140px;
  height: 100px;
  overflow:hidden;
  

  // Blurred background image
  .background-thumbnail {
    z-index: 0;
    position: absolute;
    object-fit: cover;

    $blur_size: 4px;

    filter: blur(#{$blur_size});
    width: calc(100% + 4 * #{$blur_size});
    height: calc(100% + 4 * #{$blur_size});
    top: calc(-2 * #{$blur_size});
    left: calc(-2 * #{$blur_size}); 
  }

  // Tint background to blend with $secondary
  &:after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $secondary;
    opacity: 0.4;
  }
  

  .main-thumbnail {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@if $enable_grid == "true" {
  table.topic-list {
    thead, tr.topic-list-item-separator{ display: none }

    tbody {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 5px;
      grid-row-gap: 5px;

      border: 0;
    }
    
    tr {
      display: grid;
      position: relative;
      overflow: hidden;
      border: 0;
      // height: 0;
      // padding-bottom: 100%;
      height: 250px;

      grid-template-areas: 
        " image image "
        " title activity";
      
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr auto;
      
      background-color: $primary-low;
      border: 1px solid $primary-low;
    }

    .topic-list-thumbnail{
      z-index: 0;
      // position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      grid-area: image;
      overflow: visible;
      .background-thumbnail{
        height: calc(150%);
      }
    }

    .activity, .main-link {
      z-index: 2;
      background-color: rgba($primary-very-low, 0.85);
      max-width: none;
    }

    .posters, .posts-map, .views, .topic-excerpt {
      display:none;
    }

    .main-link {
      grid-area: title;

      padding: 10px;
    }

    .num.activity {
      grid-area: activity;

      display: flex;
      width: auto;
      padding: 10px;

      a {
        padding: 0;
        margin-top: auto;
      }
    }
  }
}
