.topic-thumbnail-likes {
  display: none;
}

.topic-thumbnails-list,
.topic-thumbnails-grid,
.topic-thumbnails-masonry,
.topic-thumbnails-minimal {
  .topic-list-thumbnail {
    background: var(--primary-low);
    position: relative;
    float: left;
    margin-right: 10px;
    width: 140px;
    height: 100px;
    overflow: hidden;

    &.landscape {
      .background-thumbnail {
        display: none;
      }
      .main-thumbnail {
        object-fit: cover;
      }
    }

    // Blurred background image
    .background-thumbnail {
      z-index: 0;
      position: absolute;
      object-fit: cover;

      $blur_size: 4px;

      filter: blur(#{$blur_size});
      width: calc(100% + 4 * #{$blur_size});
      height: calc(100% + 4 * #{$blur_size});
      top: calc(-2 * #{$blur_size});
      left: calc(-2 * #{$blur_size});
    }

    // Tint background to blend with $secondary
    &:after {
      z-index: 1;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--secondary);
      opacity: 0.4;
    }

    .main-thumbnail {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .thumbnail-placeholder {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      color: var(--primary-medium);
      display: flex;
      align-items: center;
      justify-content: center;
      .d-icon {
        width: 60%;
        height: 60%;
      }
    }
  }
}

.topic-thumbnails-grid,
.topic-thumbnails-masonry {
  margin-top: 5px;

  thead,
  tr.topic-list-item-separator {
    display: none;
  }

  tbody {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    border: 0;
  }

  tr {
    display: grid;
    position: relative;
    overflow: hidden;
    height: 250px;

    grid-template-areas:
      " image image "
      " title activity"
      " title posters";

    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto;

    background-color: var(--primary-low);
    border: 1px solid var(--primary-low);

    &.selected,
    &.last-visit.selected {
      border: 1px solid var(--quaternary);
    }
  }

  .topic-list-thumbnail {
    z-index: 0;
    // position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    grid-area: image;
    overflow: visible;
    .background-thumbnail {
      height: calc(150%);
    }
  }

  .activity,
  .main-link,
  .posters {
    z-index: 2;
    position: relative;
    background-color: rgba(var(--primary-low-rgb), 0.85);
    max-width: none;
  }

  &.topic-list .posters {
    height: auto;
    padding-top: 0;
    grid-area: posters;

    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
    width: auto;

    a {
      display: block;
      width: auto;
      margin: 0;

      &:first-of-type {
        display: block;
      }
      &:not(:first-of-type) {
        display: none;
      }
    }
  }

  .posts-map,
  .views,
  .topic-excerpt {
    display: none;
  }

  .main-link {
    grid-area: title;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .num.activity {
    grid-area: activity;

    display: flex;
    justify-content: flex-end;

    width: auto;
    padding: 10px;

    a {
      padding: 0;
      margin-top: auto;
    }
  }
}

@supports (grid-template-rows: masonry) {
  .topic-thumbnails-masonry {
    tbody {
      grid-template-rows: masonry;
    }

    tr {
      height: auto;
    }

    .topic-list-thumbnail {
      float: none;
      width: 100%;
      min-height: 150px;
      max-height: 500px;

      .background-thumbnail {
        display: absolute;
        height: calc(200%);
      }

      .main-thumbnail {
        position: relative;
        width: 100%;
        max-height: 100%;
      }
    }
  }
}

.topic-thumbnails-minimal {
  margin-top: 5px;
  
  .topic-thumbnail-likes {
    display: inline;
  }
  
  thead,
  tr.topic-list-item-separator {
    display: none;
  }

  tbody {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    border: 0;
  }

  tr {
    display: grid;
    position: relative;
    overflow: hidden;
    height: 250px;
    grid-template-areas:
        " image image image"
        " title likes posts";
    grid-template-rows: 1fr 45px;
    grid-template-columns: 70% 15% 15%;
    border-bottom: none;

    &.closed {
      display: none;
    }
  }

  .topic-list-thumbnail {
    z-index: 0;
    background-color: var(--secondary);
    border-radius: 0.5em;
    border: 1px solid var(--primary-low);
    width: calc(100% - 2px);
    height: 100%;
    top: 0;
    left: 0;
    grid-area: image;
    overflow: hidden;
  }

  .activity,
  .main-link,
  .posters,
  .views,
  .topic-excerpt,
  .num.activity,
  .link-bottom-line {
    display: none;
  }

  .topic-thumbnail-likes {
    grid-area: likes;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--primary-low-mid);
    .number {
      font-weight: bold;
    }
    .d-icon {
      font-size: 19px;
      margin-right:0.5em;
    }
  }

  .posts-map {
    padding: 0;
    grid-area: posts;
    width: auto;
    .badge-posts {
      padding: 0;
      height: 100%;
      width: 100%;
    }
    span.number {
      color: var(--primary-low-mid);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      &:before {
        content: "";
        background-color: var(--primary-low-mid);
        mask-image: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-comment fa-w-16 fa-2x"><path fill="gray" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z" class=""></path></svg>');
        -webkit-mask-image: url('data:image/svg+xml; utf8, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-comment fa-w-16 fa-2x"><path fill="gray" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z" class=""></path></svg>');
        display: block;
        height: 20px;
        width: 20px;
        margin-right: 0.5em;
      }
    }
  }

  .main-link {
    grid-area: title;
    padding: 10px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    .link-top-line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a.title {
        color: var(--primary);
        padding: 0 !important;
      }
    }
  }
}

@supports not (grid-template-rows: masonry) {
  .topic-thumbnails-masonry {
    /*
    Variables set by javascript:
    --masonry-num-columns
    --masonry-tallest-column
    --masonry-grid-spacing
    --masonry-column-width
  */

    position: relative;
    height: var(--masonry-tallest-column);

    .topic-list-item {
      /*
      Variables set by javascript:
      --masonry-height 
      --masonry-height-above  
      --masonry-column-index
    */

      position: absolute;

      height: var(--masonry-height);
      width: var(--masonry-column-width);

      left: calc(
        (var(--masonry-column-width) + var(--masonry-grid-spacing)) *
          var(--masonry-column-index)
      );
      top: var(--masonry-height-above);
    }
  }
}
